<h2>Sign up for tasty pairings</h2>
<br>
<form action="/users" method="POST">
  <input type="text" name="user[username]" placeholder="username"><br>
  <input type="email" name="user[email]" placeholder="email"><br>
  <input type="password" name="user[password]" placeholder="password"><br><br>
  <input type="submit" value="Sign Up">
</form>